<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <appSettings>
    <!-- Google OAuth Credentials -->
    <add key="ClientId" value="1038322871366-6rvgjb9hcdbhco6522rkor5vmsr4j4mr.apps.googleusercontent.com"/>
    <add key="ClientSecret" value="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"/>
    <add key="ApplicationName" value="AcebedoOpticalBackup"/>
    <!-- Google Drive API Settings -->
    <add key="ClientId" value="1038322871366-6rvgjb9hcdbhco6522rkor5vmsr4j4mr.apps.googleusercontent.com"/>
    <add key="ClientSecret" value="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"/>
    <add key="ApplicationName" value="SQLBackupTool"/>
    <!-- ODBC Connection Settings -->
    <add key="BackupPath" value="C:\YourBackupFolder"/>
    <add key="ODBC_ConnectionString" value="DRIVER={MySQL ODBC 8.0 Unicode Driver};SERVER=localhost;DATABASE=acebedo;USER=root;"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="YourDBConnection" connectionString="Server=localhost;Database=acebedo;User Id=root;Password=;" providerName="MySql.Data.MySqlClient"/>
    <add name="WindowsApplication3.My.MySettings.acebedoConnectionString" connectionString="Dsn=dsnsystem;database=acebedo;option=0;port=3306;server=localhost;uid=root" providerName="System.Data.Odbc"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
